@import 'variables.css';

.loadingSpinner {
  margin: 50px auto;
}

.entryEditor {
  height: 100%;
  position: relative;
}

.body {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 290px;
  position: absolute;
  right: 0;
  top: var(--header-height);
}

.field {
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
}

.alert {
  max-width: 800px;
  margin: 15px auto 0 auto;
  margin-top: 15px;
  box-sizing: border-box;
}

.standardFields,
.customFields {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

.saveCopyButton,
.deleteEntryButton {
  margin-right: 10px;
}
