@import 'variables.css';

.project {
  background: #fff;
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 36px 1fr;
  height: 100%;
}

.header {
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  width: 125px;
}

.content {
  flex: 1;
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
}
