@import 'variables.css';

.newEntryDropdownButton {

  a {
    display: block;
    white-space: nowrap;
    padding: 7px 10px;

  }

  a:hover {
    background: color(var(--brand-secondary) lightness(+40%));
  }

}
