@import 'variables.css';

.item {
  lost-utility: clearfix;
  background: var(--lighter-grey);
  left: 0;
  margin-bottom: 3px;
  padding: 5px 0 5px 15px;
  position: absolute;
  right: 0;

  p {
    margin: 0;
  }

  &.required {

    .itemDetails {

      &::before {
        color: #d9534f;
        content: '* ';
        font-weight: bold;
      }
    }
  }
}

.itemDetails {
  float: left;
  line-height: 40px;
}

.itemType {
  color: color(var(--color) lightness(30%));
  font-size: .7em;
}

.itemControls {
  float: right;
  line-height: 40px;
}

.reorderButtonsHolder {
  display: inline-block;
  vertical-align: middle;
}

.reorderButton.btn {
  color: var(--grey);
  display: block;
  line-height: 1.1em;
  padding: 0 10px;

  &[disabled] {
    color: color(var(--grey) a(.35));
  }

  &:focus {
    outline: none;
  }
}
