@import 'variables.css';


.entryTypeList {
  margin: 0 auto;
  max-width: 600px;

  .item {
    margin-bottom: 4px;

    a {
      background: #fff;
      border: 1px solid var(--light-grey);
      border-radius: 4px;
      line-height: 20px;
      padding: 15px;
      display: flex;
    }

    a:hover {
      background: #fff;
      border: 1px solid var(--brand-secondary);
    }
  }

  .content {
    flex-grow: 1;
  }

  .title {
    margin: 0;
    line-height: 1em;
    font-size: 22px;
  }

  .description {
    margin: 0;
    color: var(--grey);
    line-height: 1em;
    margin-top: 8px;
  }

  .itemIcon {
    font-size: 20px;
    margin-right: 12px;
    position: relative;
    top: 1px;
  }

}
