@import 'variables.css';

.media {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 56px 1fr;
}

.header {
  grid-column: 1 / span 2;
}

.content {
  grid-column: 1;
  grid-row: 2;
  padding: 15px 20px 100px;
}

.sidebar {
  grid-column: 2;
  grid-row: 2;
  background: #f9f9f9;
  bottom: 0;
  padding: 10px;
}

.searchInput {
  margin-bottom: 10px;
}

.btnGroup {
  display: inline-block;
  margin-right: 10px;
}

.controls {
  display: flex;

  .column {
    margin-right: 10px;

    &:nth-child(1) {
      flex: 0.65;
    }

    &:nth-child(2) {
      flex: 0.2;
    }

    &:nth-child(3) {
      flex: 0.15;
      margin-right: 0;
    }
  }
}

.clearCompletedButton {
  font-size: 12px;
  margin-top: 10px;
}

.loadingSpinner {
  margin: 50px auto;
}

.reloadButton {
  margin-right: 10px;
}
