@import 'variables.css';


.media {
  height: 100%;
}

.body {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: var(--header-height);
}

.searchInput {
  margin-bottom: 10px;
}

.btnGroup {
  display: inline-block;
  margin-right: 10px;
}

.content {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: 15px 40px;
  position: absolute;
  right: 250px;
  top: 0;
}

.controls {
  lost-utility: clearfix;

  .column {

    &:nth-child(1) {
      lost-column: 7/12;
    }

    &:nth-child(2) {
      lost-column: 3/12;
    }

    &:nth-child(3) {
      lost-column: 2/12;
    }
  }
}

.sidebar {
  background: #f9f9f9;
  bottom: 0;
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
}

.clearCompletedButton {
  font-size: 12px;
  margin-top: 10px;
}

.loadingSpinner {
  margin: 50px auto;
}

.reloadButton {
  margin-right: 10px;
}
